{
    "appcatalog-db": {
        "writers": [
            {
                "host": "#addr#",
                "port": 5432,
                "sslmode": "disable"
            }
        ],
        "database": "postgres",
        "user": "postgres",
        "password": "#sample#",
        "type": "postgresql"
    },
    "security": {
        "ROLE_ADMIN": {
            "X-Remote-User": ["john.doe"]
        },
        "ROLE_USER": {
            "X-Remote-User": ["*"]
        }
    }
    "log-headers": [
        "X-Remote-User",
    ]
}
