{
    "appcatalog-db": {
        "writers": [
            {
                "host": "#addr#",
                "port": 5432,
                "sslmode": "disable"
            }
        ],
        "database": "postgres",
        "user": "postgres",
        "password": "#sample#",
        "type": "postgresql"
    }
}
