<br>
<app-oui-pagination #pagination [metadata]="metadata" (select)="onSelect($event)"></app-oui-pagination>
<p-table [value]="domains" class="oui-datagrid">
    <ng-template pTemplate="header">
        <tr class="oui-datagrid__headers">
            <th class="oui-datagrid__header">{{ 'DOMAINS' | translate }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-domain>
        <tr class="oui-datagrid__row">
            <td class="oui-datagrid__cell" routerLink="/applications" [queryParams]="{domain: domain.name, page: 0}">{{domain.name}}</td>
        </tr>
    </ng-template>
</p-table>
<br>
