<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col demo-card-wide mdl-card mdl-shadow--2dp" *ngFor="let app of applications">

    <div class="mdl-card__supporting-text mdl-card--border mdl-color-text--grey-600">
      {{ app.domain  | uppercase }}
    </div>
  
    <div class="mdl-card__title">
        <img src="{{ app.avatarurl }}" width="50"/>
        <h4>{{ app.domain }}/{{ app.name }}</h4>
    </div>
    <div class="mdl-card__supporting-text" *ngIf="app.manifest && app.manifest.description" >
        <b>Description:</b> 
        {{ (app.manifest.description.length>200)? (app.manifest.description | slice:0:200)+"...":(app.manifest.description) }}
    </div>
    <div class="mdl-card__supporting-text" *ngIf="!(app.manifest && app.manifest.description)" >
      <b>Description:</b> 
      No description
    </div>
  <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/applications/{{ app.domain }}/{{ app.name }}" >
        More info...
      </a>
    </div>
    <div class="mdl-card__menu">
      <small>{{ app.language }}</small>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
