span.badge {
    color: white; 
    font-size: smaller;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-shadow: 0.1em 0.1em #01010145;
}

span.left {
    border-radius: 0.3em 0em 0em 0.3em;
    background: #555;
    background: linear-gradient(to bottom, rgba(187, 187, 187, 0.2), rgba(0, 0, 0, 0.2)), #555;
}

span.right {
    border-radius: 0em 0.3em 0.3em 0em;
    background: red;
    background: linear-gradient(to bottom, rgba(187, 187, 187, 0.2), rgba(0, 0, 0, 0.2)), red;
}
