<div class="ui-g-12" *ngFor="let domain of domains | orderByDomains">
  <h1 class="oui-header_1 oui-header_underline header">{{ domain.name | uppercase }}</h1>
  <div style="padding: 8px" class="ui-g-4 ui-md-4" *ngFor="let app of domain.applications | orderByApps">
    <p-card title="{{ app.name }}" subtitle="{{ app.domain }}">
      <p class="application-description">
      {{ app.description }}
      </p>
      <p-footer class="ui-g">
        <p class="ui-g-8">
          <button class="oui-button" routerLink="/applications/{{ app.domain }}/{{ app.name }}"
                  (click)="selectApplication(app)">
            More info ...
          </button>
        </p>
        <p class="ui-g-4">
          <button class="oui-button oui-button_primary" routerLink="/enrollment"
                  (click)="selectApplication(app)">
            Enrollment ...
          </button>
        </p>
      </p-footer>
    </p-card>
  </div>
</div>
