<app-oui-pagination #paginationtop [metadata]="metadata" (select)="onSelect($event)"></app-oui-pagination>
<div class="oui-input-group oui-input-group_m filter">
  <input (keyup)="onFilterKeyPressed($event)" class="oui-input" placeholder="🔍" [(ngModel)]="searchString">
</div>
<h1 class="oui-header_1 oui-header_underline header">{{ 'APPLICATIONS' | translate }}  <app-help-widget key="help-what-is-an-app"></app-help-widget></h1>
<app-oui-message #message *ngIf="domain.length > 0" (select)="onMessageEvent($event)" message="{{ 'FILERED_BY_DOMAIN' | translate:param }}"></app-oui-message>
<div class="ui-g-12" *ngFor="let domain of domains | orderByDomains">
  <h2 class="oui-header_2 oui-header_underline header">{{ domain.name | uppercase }}</h2>
  <div class="ui-g-4 ui-md-4 pad-tile" *ngFor="let app of domain.applications | orderByApps">
    <p-card title="{{ app.name }}" subtitle="{{ app.domain }}" routerLink="/applications/{{ app.domain }}/{{ app.name }}">
      <p class="application-description">
        {{ app.description }}
      </p>
    </p-card>
  </div>
</div>
<div class="ui-g-12" *ngIf="domains.length == 0">
  {{ "YOUR_SEARCH_QUERY_RETURNED_0_RESULTS" | translate }}
</div>
<app-oui-pagination #paginationbottom [metadata]="metadata" (select)="onSelect($event)"></app-oui-pagination>
