<ul class="oui-progress-tracker">
  <li class="oui-progress-tracker__step oui-progress-tracker__step_complete" (click)="onSelect($event, '0')">
    <a class="oui-progress-tracker__status">
      <span class="oui-progress-tracker__label">Urbanism target</span>
    </a>
  </li>
  <li class="oui-progress-tracker__step oui-progress-tracker__step_complete" (click)="onSelect($event, '1')">
    <a class="oui-progress-tracker__status">
      <span class="oui-progress-tracker__label">Check your manifest information</span>
    </a>
  </li>
  <li class="oui-progress-tracker__step oui-progress-tracker__step_complete" (click)="onSelect($event, '2')">
    <a class="oui-progress-tracker__status">
      <span class="oui-progress-tracker__label">Create the pull request</span>
    </a>
  </li>
</ul>
