<div class="oui-progress-tracker">
  <ul class="oui-progress-tracker__step_container">
    <li *ngFor="let step of _steps" class="oui-progress-tracker__step {{step.stepClass}}" (click)="onSelect($event, step)">
      <a class="oui-progress-tracker__status" href="#"></a>
    </li>
  </ul>
  <ul class="oui-progress-tracker__label_container">
    <li *ngFor="let step of _steps" class="oui-progress-tracker__label {{step.labelClass}}" (click)="onSelect($event, step)">{{ step.label | translate }}</li>
  </ul>
</div>
