.oui-navbar-link {
    min-height: 1.0rem;
}

.oui-navbar-menu .oui-navbar-link {
    width: auto;
}

.navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.navbar-spacer {
    height: 5em;
}
