.spacer {
  height: 10em;
}

.deploymenubutton input {
  display: none;
}

input[type="radio"]+label {
  display: block;
  border-top: 0.1em solid lightgray;
  border-bottom: 0.1em solid lightgray;
  border-radius: 0.5em 0 0 0.5em;
  padding: 1em;
}

input[type="radio"]:checked+label {
  background-color: rgb(17, 40, 68);
}

.deploymentmenu{
  padding: 0;
  width: 25%;
  float: left;
}

.deploymentpanel{
  border-top: 0.1em solid lightgray;
  border-bottom: 0.1em solid lightgray;
  background-color: rgb(17, 40, 68);
  padding: 2em;
  width: 75%;
  float: left;
  border-radius: 0 0.5em 0.5em 0;
}

.deploymentmenu .oui-icon-chevron-right {
  float: right;
}

.deploymentmenu .oui-chip {
  margin-right: 1em;
  float: right;
}

.intro {
  color: white;
}

.intro a {
  color: white;
}

.intro dt {
  font-weight: bolder;
}

.deploymentscontainer {
  display: flex;
  flex-wrap: nowrap;
}

.font-extra-light{
  color: #b3becc;
}

.authorlist{
  font-size: smaller;
}

.nobullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link_label {
  color: floralwhite;
  background-color: #54627b;
  border-radius: 15px 0px 0px 15px;
  width: 10em;
  display: inline-block;
  padding-left: 0.5em;
  font-size: smaller;
  font-family: sans-serif;
}
.link_url {
  background-color: aliceblue;
  border-radius: 0px 15px 15px 0px;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: smaller;
  font-family: sans-serif;
}

.link_url .oui-link {
  color: dimgray;
}
