<app-oui-progress-tracker (select)="onSelect($event)"></app-oui-progress-tracker>

<div *ngIf="selected === '0'">
  <div class="ui-g-12" *ngIf="application.manifest">
    <markdown path="assets/roadmap.md"></markdown>
  </div>
</div>

<div *ngIf="selected === '1'">
  <div class="ui-g-12">
    <div class="oui-field">
      <label for="text-1" class="oui-field__label oui-label">Domain</label>
      <div class="oui-field__control">
        <input type="text" class="oui-input" placeholder="Domain" [(ngModel)]="application.domain" disabled>
      </div>
    </div>
    <div class="oui-field">
      <label for="text-1" class="oui-field__label oui-label">Name</label>
      <div class="oui-field__control">
        <input type="text" class="oui-input" placeholder="Name" [(ngModel)]="application.name" disabled>
      </div>
    </div>
    <div class="oui-field">
      <label for="text-1" class="oui-field__label oui-label">Repository</label>
      <div class="oui-field__control oui-field__control_xl">
        <input type="text" class="oui-input" placeholder="Repository" [(ngModel)]="application.manifest.repository" disabled>
      </div>
    </div>
    <div class="oui-field">
      <label for="text-1" class="oui-field__label oui-label">Project</label>
      <div class="oui-field__control">
        <input type="text" class="oui-input" placeholder="Project" [(ngModel)]="application.project" required>
      </div>
    </div>
    <div class="oui-field">
      <label for="text-1" class="oui-field__label oui-label">Repo</label>
      <div class="oui-field__control">
        <input type="text" class="oui-input" placeholder="Repo" [(ngModel)]="application.repo" required>
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="oui-field">
      <label for="text-1" class="oui-field__label oui-label">Team Name</label>
      <div class="oui-field__control">
        <input type="text" class="oui-input" placeholder="Team Name" [(ngModel)]="application.manifest.support.name" require>
      </div>
    </div>
    <div class="oui-field">
      <label for="text-1" class="oui-field__label oui-label">Team Email</label>
      <div class="oui-field__control">
        <input type="text" class="oui-input" placeholder="Team Email" [(ngModel)]="application.manifest.support.email" require>
      </div>
    </div>
    <div class="oui-field">
      <label for="text-1" class="oui-field__label oui-label">Team cisco</label>
      <div class="oui-field__control oui-field__control_xl">
        <input type="text" class="oui-input" placeholder="Team cisco" [(ngModel)]="application.manifest.support.cisco" require>
      </div>
    </div>
  </div>
  <div class="ui-g-12" *ngIf="application.manifest">
    <p-table [value]="application.manifest.authors" class="oui-datagrid">
      <ng-template pTemplate="header">
        <tr class="oui-datagrid__headers">
          <th class="oui-datagrid__header oui-datagrid__header_sortable">Name</th>
          <th class="oui-datagrid__header oui-datagrid__header_sortable">Email</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-author>
        <tr class="oui-datagrid__row">
          <td class="oui-datagrid__cell" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="text" [(ngModel)]="author.name">
              </ng-template>
              <ng-template pTemplate="output">
                {{author.name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="oui-datagrid__cell" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="text" [(ngModel)]="author.email">
              </ng-template>
              <ng-template pTemplate="output">
                {{author.email}}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-12" *ngIf="application.manifest">
    <textarea class="oui-textarea oui-textarea_active" style="height: 356px; padding: 0rem 0rem;" [(ngModel)]="application.manifest.description"></textarea>
  </div>
</div>

<div *ngIf="selected === '2'">
  <div>
    <button class="oui-button oui-button_primary" (click)="createPullRequest()">
      Create the pull the request
    </button>
  </div>
  <div class="ui-g-12" *ngIf="application.manifest">
    <markdown [data]="application.manifest.description"></markdown>
  </div>
</div>
